 <div class="footer">
    <p><a href="signup" title="Sign up as a Host">Sign up</a> <a href="signin" title="Sign in as a Host">Sign in</a> <a href="" title="Create Party Event">Create Party</a> <a href="invite" title="Invite Guests">Invite</a></p>
    <!-- end .footer --></div>