 <p>Welcome to the Party Manager Application</p>
    <p>You can Sign up as a host <a href="signup" title="Sign up to become host">Sign Up</a></p>
    <p>and create party events <a href="new_party" title="Create Party Events">Create Party</a></p>
    <p>then invite guests <a href="invite" title="Invite Guests to party">Invite</a></p>